<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="Database1" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\iliol\OneDrive\Рабочий стол\уник\curse_work\curse_work\Database1.mdf";Integrated Security=True'/>
		</connectionStrings>
</configuration>